@import './assets/font/font.css';

$darkBG: #393a3d;
$width: 1280px;
$blue:#3492ef;
html > canvas {
  display: none;
}
body {
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  color: #333;
  font-family: avenirRegular;
  overscroll-behavior: none;
  &.noScroll{overflow: hidden}
}

button {
  font-family: avenirMedium;
  cursor: pointer;
}

.tag {
  background: #fff;
  border: 2px solid #393a3d;
  border-radius: 20px;
  padding: 5px 10px;
  &:hover {
    background: #8d9096;
    color: #fff;
  }
  &.selected {
    background: #393a3d;
    color: #fff;
  }
}
label:not(.btn, .VideoPlaceholder) {
  display: block;
  font-weight: 300;
  font-size: 1.3em;
  margin: 20px 0 10px;
}
h1 {
  margin: 0;
}

h2 {
  font-weight: 400;
  font-size: 20px;
  margin: 0;
}

h4 {
  font-size: 1.2em;
  margin: 15px 0 5px;
}

h5 {
  font-size: 1em;
  font-weight: 600;
}


input[type="url"],
input[type="search"],
input[type="text"] {
  padding: 7px 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  min-width: 200px;
  outline: none;
  &:focus {
    border: 1px solid #5294ff;
  }
  &.search {
    outline: none;
    border: none;
    transition: 0.7s width;
    display: block;
    min-width: 200px;
    padding: 10px 0;
  }
}

.link {
  color: #1185f1;
}
.btn {
  background: #1185f1;
  border: 1px solid #ddd;
  padding: 7px 25px;
  border-radius: 30px;
  color: #fff;
  font-size: 1.1em;
  display: inline-block;
  text-decoration: none;
  border: 1px solid #1185f1;
  &:hover {
    background: #0d71cf;
  }
  cursor: pointer;
  &.mini {
    padding: 5px 10px;
    font-size: 0.8em;
  }
  &.ghost {
    color: #1185f1;
    background: none;
    &:hover {
      background: #eaf5ff;
    }
  }
  &.success {
    color: #11f194;
    border: 1px solid #11f194;
    background: none;
  }
  &:disabled {
    cursor: not-allowed;
    opacity: 0.4;
  }
}

.TopBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: $darkBG;
  color: #fff;
  z-index: 4;
  padding: 5px 50px;
  height: 80px;
  box-sizing: border-box;
  article > img { margin-left: 20px }
  .search {
    background: none;
    border: none;
    &:hover{opacity:.6}
  }
  .logo {
    padding: 0;
  }
  ul {
    list-style: none;
    padding: 0;
    display: flex;
  }
  a {
    color: #fff;
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    &:hover{opacity:.6}
  }
}
.TopBar .User,
.TopBar article {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.User {
  margin-right: 10px;
  img {
    border-radius: 50px;
    margin-left: 10px;
    cursor: pointer;
  }
}

.Routes {
  padding-top: 80px;
}

.Loading {
  width: 100vw;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
}
.Loading {
  align-items: center;
}

.AddEdit {
  overflow-x: hidden;
  overflow-y: scroll;
  position: fixed;
  display: block;
  right: 0;
  width: 40vw;
  height: calc(100vh - 100px);
  top: 80px;
  padding: 30px 50px;
  border-radius: 20px;
  box-shadow: 0 40px 40px 0px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  z-index: 3;
  background: #fff;
  transition: 0.8s ease;
  transform: translateX(2vw);
  opacity: 0;
  .uploadForm.loading {
    visibility: hidden;
  }
  &.show {
    transform: translateX(-1.5vw);
    opacity: 1;
  }
  .close {
    position: absolute;
    top: 20px;
    right: 20px;
    background: none;
    border: none;
    z-index: 3;
  }
}
.RichEditor-editor {
  h1 {
    font-size: 1.8em;
    margin: 10px 0;
  }
  span {
    font-size: 0.9em;
  }
}
.Wisiwyg {
  margin-top: 20px;
  &.readOnly {
    opacity: 0.2;
  }
  .Tools {
    border-bottom: none;
    margin-bottom: 0;
    border-radius: 10px 10px 0 0;
    padding: 25px 25px 0 25px;
  }
  .Editor {
    border: 1px solid #eee;
    border-top: none;
    padding: 25px;
    border-radius: 0 0 10px 10px;
  }
}

.EditVideo {
  cursor: pointer;
  .thumbs {
    padding: 10px 20px;
  }
  .thumbnail {
    width: 150px;
    border-radius: 10px;
    height: 86px;
    background-size: cover;
  }
  .tags {
    > article {
      background: none;
      padding: 7px;
      margin: 0;
    }
    > button {
      background: #e2e2e270;
      display: inline-block;
      margin: 3px;
      cursor: pointer;
      font-weight: 400;
      padding: 4px 10px;
      border-radius: 5px;
      font-size: 0.9em;
      border: none;
    }
  }
  .uploader {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 0.8em;
    padding-right: 20px;
    text-align: right;
    .photoCtn {
      width: 25px;
      height: 25px;
      display: flex;
      align-items: center;
      justify-content: center;
      overflow: hidden;
      border-radius: 5px;
      margin: 0 10px;
      img {
        width: 25px;
      }
    }
  }

  .ago {
    font-size: 0.7em;
  }
  h3 {
    font-weight: 500;
    margin: 0;
    text-transform: inherit;
  }
  .edit {
    display: flex;
    flex-direction: column;
    > div {
      margin-top: 10px;
    }
  }
  .thumb {
    width: 150px;
    > div {
      padding: 15px;
      > div {
        height: 90px;
        width: 150px;
        border-radius: 10px;
        background: #f7f7f7;
        display: flex;
        justify-content: center;
        overflow: hidden;
        > img {
          height: 100%;
        }
      }
    }
  }
}

.views {
  font-size: 0.8em;
  display: flex;
  align-items: center;
  video{
    position: absolute;
    top:0;
    left:0;
    opacity: 0;
    z-index: -1;
    height: 0px;
  }
  img {
    margin: 0 5px;
  }
}

.videosToEdit {
  table {
    width: 100%;
    thead {
      position: sticky;
      top: 98px;
      background: #fff;
      tr:hover {
        background: none;
      }
      th {
        padding: 27px 0;
        font-weight: 300;
        text-align: left;
        border-bottom: 1px solid #e7e7e7;
        &:last-child > div {
          justify-content: flex-end;
          padding-right: 20px;
        }
        > div {
          display: flex;
          align-items: center;
          cursor: pointer;
          img {
            margin: 0 5px;
          }
        }
      }
    }
  }
  tr {
    transition: 0.2s ease;
    border-radius: 10px;
    &.selected:hover,
    &.selected {
      background: #f7f7f7;
    }
    &:hover {
      background: #f7f7f770;
    }
  }
}

.sortChevron {
  display: block;
  transform: rotate(0deg);
  transition: 0.6s ease;
  &.active {
    transform: rotate(180deg);
  }
}

.sort {
  padding-left: 20px;
}

.VideoUploader {
  margin: 30px 0;
  .btnCtn {
    display: flex;
    flex-direction: column;
    align-items: center;
    label {
      min-width: 200px;
      margin: 5px 0;
      text-align: center;
    }
  }
  &.error {
    label {
      color: #f21c4b;
    }
    .VideoPlaceholder {
      border-color: #f21c4b;
    }
  }
  .videoCtn {
    display: flex;
    justify-content: center;
    background: #f5f5f570;
    border-radius: 15px;
    padding: 15px;
    flex-direction: column;
    align-items: center;
    img {border-radius: 10px;}
  }
  input[type='file'] {
    visibility: hidden;
    position: absolute;
  }
  video,
  .VideoPlaceholder {
    height: 200px;
    border-radius: 10px;
    margin-bottom: 15px;
  }
  .VideoPlaceholder {
    background: rgba(229, 239, 247, 0.2);
    width: calc(100% - 15px);
    cursor: pointer;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 900;
    text-transform: uppercase;
    line-height: 0.9em;
    border: 2px dashed rgba(161, 213, 255, 0.4);
    &:hover {
      background: rgba(229, 239, 247, 0.35);
    }
  }
}

.AddTags {
  flex: 1;
  box-sizing: border-box;
  padding-left: 50px;
  .tagList {
    position: relative;
    padding: 7px 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    transition: 0.2s ease;
    opacity: 0;
    &.loaded {
      opacity: 1;
    }
    &.focus {
      border: 1px solid #5294ff;
      .recent {
        z-index: 1;
        opacity: 1;
        transform: translateY(10px);
      }
    }
  }
  .recent {
    transform: translateY(0);
    position: absolute;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    padding: 15px;
    z-index: -1;
    opacity: 0;
    transition: 0.7s ease;
    background: #fff;
    box-shadow: 0 20px 40px 0px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    label {
      margin: 5px 0 15px;
    }
  }
}
.Tag {
  background: #eee;
  display: inline-block;
  margin: 3px;
  cursor: pointer;
  font-weight: 400;
  padding: 4px 15px;
  border-radius: 5px;
  font-size: 0.9em;
  &.red {
    background: rgba(249, 123, 108, 0.1);
    color: darken(rgba(249, 123, 108, 1), 20%);
    &:hover {
      background: rgba(249, 123, 108, 0.3);
    }
  }
  &.green {
    background: rgba(86, 222, 126, 0.1);
    color: darken(rgba(86, 222, 126, 1), 20%);
    &:hover {
      background: rgba(86, 222, 126, 0.3);
    }
  }
  &.purple {
    background: rgba(96, 115, 251, 0.1);
    color: darken(rgba(96, 115, 251, 1), 20%);
    &:hover {
      background: rgba(96, 115, 251, 0.3);
    }
  }
  &.blue {
    background: rgba(57, 199, 242, 0.1);
    color: darken(rgba(57, 199, 242, 1), 20%);
    &:hover {
      background: rgba(57, 199, 242, 0.3);
    }
  }
  &.yellow {
    background: rgba(249, 218, 59, 0.1);
    color: darken(rgba(249, 218, 59, 1), 20%);
    &:hover {
      background: rgba(249, 218, 59, 0.3);
    }
  }
  &.pink {
    background: rgba(255, 130, 160, 0.1);
    color: darken(rgba(255, 130, 160, 1), 20%);
    &:hover {
      background: rgba(255, 130, 160, 0.3);
    }
  }
}

.videoNTags {
  display: flex;
  justify-content: space-between;
}

.SignIn{
  h1{
    background: url("./assets/images/learning-hub.svg") no-repeat;
    color: transparent;
    font-size: 2.5em;
    margin: 20px 0 80px;
  }
  span{
    font-weight: 100;
    font-size: .9em;
  }
}

.NonIntuitUser{
  h1{
    background: url("./assets/images/oops.svg") no-repeat;
    color: transparent;
    font-size: 4.7em;
    margin: 0 0;
  }
  span{
    font-weight: 100;
    font-size: 1.2em;
    margin: 50px 0;
  }
  button{
    margin:0;
  }

}

@keyframes comin{
  from{opacity: 0}
  to{opacity: 1}
}
.SignIn,
.NonIntuitUser {
  background: #F4F5F8;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  .splash {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color:#fff;
    width: 650px;
    height: 650px;
    background: #393A3D;
    border-radius: 100%;
    opacity: 0;
    animation: comin .4s ease .5s forwards;
    .logo{width:120px}
    .btn{
      background: #fff;
      border:none;
      color:#333;
      margin-bottom: 15px;
    }
  }
}

.Publish {
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

.Dashboard {
  display: flex;
  justify-content: space-between;
  height: 100%;
  > div {
    flex: 1;
  }
}

.Msg {
  position: absolute;
  top: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
  &.error article {
    background: #f21c4b;
  }
  > article {
    background: #0dcb63;
    padding: 10px 30px;
    color: #fff;
    border-radius: 10px;
    display: inline-block;
  }
}

.Title {
  &.error {
    label {
      color: #f21c4b;
    }
    input[type='text'] {
      border-color: #f21c4b;
    }
  }
}
.Stats {
  border-left: 1px solid #e7e7e7;
  height: inherit;
  justify-content: flex-start;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  h1 {
    margin-bottom: 10px;
  }
  .addNew {
    margin-top: 60px;
  }
  .btn {
    min-width: 200px;
    position: relative;
    overflow: hidden;
    .prog {
      position: absolute;
      left: 0;
      top: -2px;
      height: 4px;
      border-radius: 5px;
      background: #77c3ff;
      display: block;
    }
  }
}

.Admin {
  display: flex;
  max-height: 100vh;
  > section {
    flex: 0.8;
  }
  > div {
    flex: 1.2;
  }
  > div {
    height: calc(100vh - 98px);
    overflow-y: scroll;
  }
  table > article {
    padding: 20px;
  }
}

.SearchVideo {
  padding: 20px;
  background: #fff;
  border-bottom: 1px solid #e7e7e7;
  position: sticky;
  top: 0;
  display: flex;
  > div {
    display: flex;
    align-items: center;
    padding-left: 20px;
  }
  .btn {
    border-radius: 5px;
    margin-left: 20px;
  }
  label {
    margin: 0 0 10px 0;
    font-size: 1em;
  }
  input {
    padding: 20px;
    flex: 1;
    outline: none;
    &:focus {
      border-color: #1185f1;
    }
  }
}

.Progress {
  width: 60%;
  margin: 0 auto;
  .progressPercent {
    position: absolute;
    top: 15px;
    left: 20px;
    background: #3edd8b;
    color: #fff;
    font-weight: 700;
    border-radius: 10px;
    padding: 10px;
  }
}
.Progress,
.Success {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 40px;
  .linkss {
    margin-top: 80px;
    .btn {
      margin-right: 20px;
    }
  }
  h1 {
    margin: 20px 0 10px;
  }
  .txt {
    text-align: center;
    p {
      margin: 4px 0;
    }
    button {
      margin-top: 30px;
    }
  }
  .btnCtn {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    button {
      margin-top: 20px;
      min-width: 200px;
    }
  }
  .progressBar {
    height: 2px;
    background: #cfe6f050;
    width: 100%;
    border-radius: 20px;
    margin: 20px;
    > div {
      height: 2px;
      background: #3edd8b;
      border-radius: 10px;
      transition: 2s ease;
    }
  }
}

.Dog {
  width: 100%;
  height: 74px;
  position: relative;
  transform: translateY(22px);
  img,
  .long {
    position: absolute;
    transition: 2s cubic-bezier(0.78, 0.01, 0, 1.01);
  }
  .dogBack {
    left: -73px;
    bottom: 0;
  }
  .long {
    width: 2px;
    height: 40px;
    background: url('./assets/images/dog/long.svg');
    bottom: 0;
    left: 0;
  }
}

.NoMatch {
  padding: 40px;
  text-align: center;
}

.center {
  width: $width;
  margin: 0 auto;
}

.HubTitle {
  background: $darkBG;
  color: #fff;
  height: 460px;
  display: flex;
  align-items: center;
  transition: .9s cubic-bezier(0.61, 0.04, 0.1, 1);
  &.skinny{height: 320px}
}

.TrainingList {
  header {
    h1 {
      display: flex;
      flex-direction: column;
      font-size: 7em;
      font-weight: 900 !important;
      text-transform: uppercase;
      line-height: 0.87em;
      letter-spacing: 2.5px;
      color: transparent;
      background: url("./assets/images/titles/welcome.svg") no-repeat;
      &.motion{background: url("./assets/images/titles/motion.svg") no-repeat;}
      &.systems{background: url("./assets/images/titles/systems.svg") no-repeat;}
      &.content{background: url("./assets/images/titles/content.svg") no-repeat;}
    }
  }
}

.Filters {
  padding: 40px;
  position: sticky;
  top: 80px;
  background: #fff;
  z-index: 3;
  button:not(:last-child) {
    margin: 0 10px 10px 0;
  }
}

h3 {
  font-family: avenirDemi;
  font-size: 1.2em;
  text-transform: uppercase;
  margin: 0;
  letter-spacing: 1px;
}
.VideoList {
  h3 {
    font-family: avenirDemi;
    padding: 30px 0;
    position: sticky;
    top: 189px;
    z-index: 2;
    background: #fff;
  }
}
.vList {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 36px;
  padding-bottom: 70px;
}
.Video {
  cursor: pointer;
  position: relative;
  .duration {
    position: absolute;
    display: inline-block;
    background: #fff;
    top: 190px;
    right: 14px;
    border-radius: 20px;
    padding: 3px 10px;
    font-weight: 400;
    z-index: 1;
  }
  .cover {
    height: 225px;
    width: 400px;
    overflow: hidden;
    img {width:400px}
  }

  .thumbnail {
    position: relative;
    background-size: cover;
    height: 225px;
    border-radius: 15px;

    overflow: hidden;
    width: 400px;
    display: flex;
    align-items: center;
    video {
      opacity: 0;
      position: absolute;
      top: 0;
      left: 0;
      width: 400px;
      transition: 0.3s ease;
      &:hover {
        opacity: 1;
      }
    }
  }
  .meta {
    display: flex;
    justify-content: space-between;
    align-items: center;
    h4{margin: 15px 0}
    > div > span,
    > div {
      align-items: center;
      display: flex;
    }
    > div > span {
      margin-left: 15px;
      > span {
        font-weight: 500;
        margin-left: 2px;
      }
      &.helpful img {
        transform: translateY(-2px);
        z-index: 0;
      }
    }
  }
}

.Featured{
  margin-top: 20px;
  label {padding-left: 10px}
}

.CraftChoice {
  div {
    display: flex;
    padding: 5px 0;
    align-items: center;
    label {
      cursor: pointer;
      margin: 0;
      font-weight: 400;
      font-size: 1em;
    }
  }
}

.PickThumb,
.ConfirmDelete {
  background: #fff;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  h3 {text-transform: none}
}

.thumbCtn{
  height: 45px;
  width: 80px;
  overflow: hidden;
  border-radius: 4px;
  img{height:100%}
}

.PickThumb {
  padding: 50px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  h3 {
    font-weight: 300;
    font-size: 1.3em;
    margin: 70px 0 20px;
    text-transform: capitalize;
  }
  h4 {
    margin: 0;
    cursor: pointer;
  }
  .btnCtn {
    text-align: right;
    padding-bottom: 40px;
  }

}

.Category {
  padding: 10px 0px;
  border-radius: 10px;
  width: 530px;
  border: 1px solid #fff;
  h4 {
    opacity: .7;
    text-transform: capitalize;
    display: flex;
    justify-content: space-between;
    img {
      transform: rotate(-90deg);
      transition: .7s ease;
    }
    &:hover{opacity:1}
  }
  .thumbGrid { margin-top: 0}
  &.current {
    width: 500px;
    padding: 30px;
    margin: 30px 0;
    border: 1px solid #f3f3f3;
    h4 {
      opacity: 1;
      img { transform: rotate(0deg)}
    }
    .thumbGrid {
      margin-top: 20px;
    }
  }
}


.thumbGrid {
  transition: .7s ease;
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
  width: 500px;
  img {
    border-radius: 12px;
    opacity: .8;
    cursor: pointer;
    &.selected {
      opacity: 1;
    }
    &:hover {
      opacity: 1;
    }
  }
}
.Footer {
  background: #eceef1;
  padding: 80px;
  ul {
    padding-left: 30px;
  }
  h4 img {
    display: none;
  }
  h5 {
    display: flex;
    flex-direction: column;
  }
  a {
    text-decoration: underline;
    color: #333;
    display: inline-block;
    padding: 4px 0;
    cursor: pointer;
    &:hover {
      color: $blue;
    }
  }
}

.footerInner {
  display: flex;
  justify-content: space-between;
}

.loadAdmin {
  display: flex;
  flex-direction: column;
  padding: 180px 20px 0;
  img {
    width: 287px;
    margin-bottom: 20px;
  }
}

.ConfirmDelete {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 100px;
  h3 {
    font-size: 3em;
    margin: 10px 0;
  }
  p {
    margin-bottom: 80px;
    width: 60%;
    text-align: center;
  }
  button {
    position: relative;
    overflow: hidden;
    width: 120px;
    &.noBorder {
      border: none;
    }
    &.wait:after {
      transition: 1.7s cubic-bezier(0.8, 0.03, 0.25, 1);
      width: 100%;
    }
    &:after {
      content: 'Almost...';
      display: flex;
      height: 100%;
      background: #65c889;
      position: absolute;
      width: 0%;
      top: 0;
      left: 0;
      align-items: center;
      overflow: hidden;
      justify-content: center;
      transition: 0s ease;
    }
  }
}

.Detail {
  padding: 50px 0 0 50px;
  display: flex;
  justify-content: space-between;
}
.RelatedVideos{
  width: 290px;
  padding-right: 50px;
  h3 {
    margin-bottom: 50px;
  }
  .duration { top: 125px }
  .Video {
    margin-bottom: 50px;
    .cover{
      height:165px;
      width: 290px;
      img{
        height:165px;
        width: 290px;

      }
    }
    .thumbnail{
      height: 165px;
      width: 290px;
    }
  }
}

.DetailContent{
  flex: 1;
  box-sizing: border-box;
  padding-right: 50px;
  .btnCtn {
    display: flex;
    button {margin-left: 10px}
    .dislike {
      transform: translateY(2px) rotate(180deg);
    }
  }
  .btn {
    background: #ECEEF1;
    border: none;
    color: #333;
    padding: 15px 20px;
    display: flex;
    align-items: center;
    img{
      margin-right: 3px;
      &:hover{opacity: .5}
    }
    &:hover{background: #e1e3e6}
    > span{
      white-space: nowrap;
      margin-right: 15px;
    }
    &.copy {
      min-width: 150px;
      display: flex;
      justify-content: center;
      &.copied {
        background: #333;
        color: #fff;
        span{margin: 0}
      }
      span{margin-left: 15px}
    }
  }
  .meta {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    h1 {font-size: 1.8em}
    .views {
      display: flex;
      align-items: center;
      padding: 10px 0;
      img{margin:0}
      span {
        margin-left: 5px;
        font-size: 1.1em;
      }
    }
  }
  video{
    width: 100%;
    border-radius: 15px;
  }
}


.TagLinks {
  padding: 20px 0;
  button {margin-right: 10px}
}

.Search {
  position: fixed;
  z-index: 4;
  right:0;
  top:80px;
  width: 100vw;
  display: flex;
  justify-content: flex-end;
  background: rgba(0,0,0,0);
  height: calc(100vh - 80px);
  transition: 1s cubic-bezier(0.56, 0.01, 0, 1.02);
  &.show{
    background: rgba(0,0,0,.5);
    > section {
      transform: translate(0,-80px);
    box-shadow: -20px 0 80px rgba(0,0,0,.3);
    }
  }
  header{
    padding: 30px 100px;
    input {
      background: #F4F5F8;
      border: none;
      border-radius: 50px;
      padding: 20px;
      width: 100%;
      border: 1px solid #F4F5F8;
    }
  }
  h3{padding: 40px 100px 40px}
  .close {
    background: none;
    border: none;
    position: absolute;
    right: 20px;
    top: 20px;
  }
  >section {
    box-sizing: border-box;
    background: #fff;
    width: 840px;
    position: absolute;
    transition: 1s cubic-bezier(0.56, 0.01, 0, 1.02);
    
    transform: translate(840px,-80px);
      box-shadow: -20px 0 0 rgba(0,0,0,0);
    .list{
      height: calc(100vh - 80px);
      overflow-y: scroll;
    }
    .results {
      padding: 0 100px;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 20px;
      .Video {
        height: 225px;
        width:311px;
        overflow: hidden;
        .cover{
          height: 175px;
          width:311px;
          img{
            height: 175px;
            width:311px;
          }
        }
        .duration {
          top: 139px;
          right: 14px;
        }
        .thumbnail{
          height: 175px;
          width:311px;
          video{
            height: 175px;
            width:311px;

          }
        }
      }
    }
  }
}

@media screen and (max-width: 1430px) {
  .center {
    width: inherit;
  }
  .Footer {
    h4 {
      cursor: pointer;
      margin: 0;
      padding: 20px 0;
      display: flex;
      justify-content: space-between;
      img {
        display: block;
        width: 17px;
      }
    }
    ul {
      padding-left: 13px;
    }
  }
  .footerInner {
    display: flex;
    flex-direction: column;
    padding-bottom: 50px;
  }
  .FooterItm {
    ul {
      display: none;
    }
    a {
      display: block;
      padding: 20px 0;
    }
    &.active {
      ul {
        display: block;
      }
    }
  }
}

.DescriptionAndLinks {
  .tabs {
    display: flex;
    label{
      padding: 8px 20px 4px 20px;
      cursor: pointer;
      &:not(.active){opacity: .3}
    }
  }
}

.Wisiwyg,.Links{min-height:160px}

.Links{
  box-sizing: border-box;
  padding: 0 20px;
  .btn.mini{margin-left: 10px}
  .linkCtn{
    max-height: 125px;
    overflow-y: scroll;
  }
}

.AddLink,
.LinkEditor{
  display: flex;
  align-items: center;
  
  button:not(.btn) {
    background: none;
    border: none;
    img{
      opacity: .4;
      width: 15px;
      padding: 7px;
    }
  }
  span{
    padding: 7px 16px;
    cursor: text;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    &.urlBlur{color: $blue}
  }
  span,input{
    font-size: .9em;
    flex:1;
    box-sizing: border-box;
  }
}

.FrontLinks {
  padding-top: 30px;
  ul {
    list-style: none;
    padding: 10px 0 40px;
    margin: 0;
    a{
      display: inline-block;
      color:$blue;
      padding: 5px 0;
      text-decoration: none;
      &:hover{text-decoration: underline}
    }
  }
}