html > canvas {
  display: none;
}

body {
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  color: #333;
  font-family: sans-serif;
  overscroll-behavior: none;
}

button {
  cursor: pointer;
}

.tag {
  background: #fff;
  border: 2px solid #393a3d;
  border-radius: 20px;
  padding: 5px 10px;
}
.tag:hover {
  background: #8d9096;
  color: #fff;
}
.tag.selected {
  background: #393a3d;
  color: #fff;
}

label:not(.btn, .VideoPlaceholder) {
  display: block;
  font-weight: 300;
  font-size: 1.3em;
  margin: 20px 0 10px;
}

h1 {
  margin: 0;
}

h2 {
  font-weight: 400;
  font-size: 20px;
  margin: 0;
}

h4 {
  font-size: 1.2em;
  margin: 15px 0 5px;
}

h5 {
  font-size: 1em;
  font-weight: 600;
}

input:not([type=radio]) {
  padding: 7px 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  min-width: 200px;
  outline: none;
}
input:not([type=radio]):focus {
  border: 1px solid #5294ff;
}
input:not([type=radio]).search {
  outline: none;
  border: none;
  transition: 0.7s width;
  display: block;
  min-width: 200px;
  padding: 10px 0;
}

.link {
  color: #1185f1;
}

.btn {
  background: #1185f1;
  border: 1px solid #ddd;
  padding: 7px 25px;
  border-radius: 30px;
  color: #fff;
  font-size: 1.1em;
  display: inline-block;
  text-decoration: none;
  border: 1px solid #1185f1;
  cursor: pointer;
}
.btn:hover {
  background: #0d71cf;
}
.btn.mini {
  padding: 5px 10px;
  font-size: 0.8em;
}
.btn.ghost {
  color: #1185f1;
  background: none;
}
.btn.ghost:hover {
  background: #eaf5ff;
}
.btn.success {
  color: #11f194;
  border: 1px solid #11f194;
  background: none;
}
.btn:disabled {
  cursor: not-allowed;
  opacity: 0.4;
}

.TopBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: #393a3d;
  color: #fff;
  z-index: 4;
  padding: 5px 50px;
  height: 80px;
  box-sizing: border-box;
}
.TopBar article > img {
  margin-left: 20px;
}
.TopBar .logo {
  padding: 0;
}
.TopBar ul {
  list-style: none;
  padding: 0;
  display: flex;
}
.TopBar a {
  color: #fff;
  display: inline-block;
  padding: 10px 20px;
  text-decoration: none;
}

.TopBar .User,
.TopBar article {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.User {
  margin-right: 10px;
}
.User img {
  border-radius: 50px;
  margin-left: 10px;
  cursor: pointer;
}

.Routes {
  padding-top: 80px;
}

.Loading {
  width: 100vw;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
}

.Loading {
  align-items: center;
}

.AddEdit {
  overflow-x: hidden;
  overflow-y: scroll;
  position: fixed;
  display: block;
  right: 0;
  width: 40vw;
  height: calc(100vh - 100px);
  top: 80px;
  padding: 30px 50px;
  border-radius: 20px;
  box-shadow: 0 40px 40px 0px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  z-index: 3;
  background: #fff;
  transition: 0.8s ease;
  transform: translateX(2vw);
  opacity: 0;
}
.AddEdit .uploadForm.loading {
  visibility: hidden;
}
.AddEdit.show {
  transform: translateX(-1.5vw);
  opacity: 1;
}
.AddEdit .close {
  position: absolute;
  top: 20px;
  right: 20px;
  background: none;
  border: none;
  z-index: 3;
}

.RichEditor-editor h1 {
  font-size: 1.8em;
  margin: 10px 0;
}
.RichEditor-editor span {
  font-size: 0.9em;
}

.Wisiwyg {
  margin-top: 20px;
}
.Wisiwyg.readOnly {
  opacity: 0.2;
}
.Wisiwyg .Tools {
  border-bottom: none;
  margin-bottom: 0;
  border-radius: 10px 10px 0 0;
  padding: 25px 25px 0 25px;
}
.Wisiwyg .Editor {
  border: 1px solid #eee;
  border-top: none;
  padding: 25px;
  border-radius: 0 0 10px 10px;
}

.EditVideo {
  cursor: pointer;
}
.EditVideo .thumbs {
  padding: 10px 20px;
}
.EditVideo .thumbnail {
  width: 150px;
  border-radius: 10px;
  height: 86px;
  background-size: cover;
}
.EditVideo .tags > article {
  background: none;
  padding: 7px;
  margin: 0;
}
.EditVideo .tags > button {
  background: rgba(226, 226, 226, 0.4392156863);
  display: inline-block;
  margin: 3px;
  cursor: pointer;
  font-weight: 400;
  padding: 4px 10px;
  border-radius: 5px;
  font-size: 0.9em;
  border: none;
}
.EditVideo .uploader {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 0.8em;
  padding-right: 20px;
  text-align: right;
}
.EditVideo .uploader .photoCtn {
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border-radius: 5px;
  margin: 0 10px;
}
.EditVideo .uploader .photoCtn img {
  width: 25px;
}
.EditVideo .ago {
  font-size: 0.7em;
}
.EditVideo h3 {
  font-weight: 500;
  margin: 0;
}
.EditVideo .edit {
  display: flex;
  flex-direction: column;
}
.EditVideo .edit > div {
  margin-top: 10px;
}
.EditVideo .thumb {
  width: 150px;
}
.EditVideo .thumb > div {
  padding: 15px;
}
.EditVideo .thumb > div > div {
  height: 90px;
  width: 150px;
  border-radius: 10px;
  background: #f7f7f7;
  display: flex;
  justify-content: center;
  overflow: hidden;
}
.EditVideo .thumb > div > div > img {
  height: 100%;
}

.views {
  font-size: 0.8em;
  display: flex;
  align-items: center;
}
.views video {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  z-index: -1;
  height: 0px;
}
.views img {
  margin: 0 5px;
}

.videosToEdit table {
  width: 100%;
}
.videosToEdit table thead {
  position: sticky;
  top: 98px;
  background: #fff;
}
.videosToEdit table thead tr:hover {
  background: none;
}
.videosToEdit table thead th {
  padding: 27px 0;
  font-weight: 300;
  text-align: left;
  border-bottom: 1px solid #e7e7e7;
}
.videosToEdit table thead th:last-child > div {
  justify-content: flex-end;
  padding-right: 20px;
}
.videosToEdit table thead th > div {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.videosToEdit table thead th > div img {
  margin: 0 5px;
}
.videosToEdit tr {
  transition: 0.2s ease;
  border-radius: 10px;
}
.videosToEdit tr.selected:hover, .videosToEdit tr.selected {
  background: #f7f7f7;
}
.videosToEdit tr:hover {
  background: rgba(247, 247, 247, 0.4392156863);
}

.sortChevron {
  display: block;
  transform: rotate(0deg);
  transition: 0.6s ease;
}
.sortChevron.active {
  transform: rotate(180deg);
}

.sort {
  padding-left: 20px;
}

.VideoUploader {
  margin: 30px 0;
}
.VideoUploader .btnCtn {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.VideoUploader .btnCtn label {
  min-width: 200px;
  margin: 5px 0;
  text-align: center;
}
.VideoUploader.error label {
  color: #f21c4b;
}
.VideoUploader.error .VideoPlaceholder {
  border-color: #f21c4b;
}
.VideoUploader .videoCtn {
  display: flex;
  justify-content: center;
  background: rgba(245, 245, 245, 0.4392156863);
  border-radius: 15px;
  padding: 15px;
  flex-direction: column;
  align-items: center;
}
.VideoUploader input[type=file] {
  visibility: hidden;
  position: absolute;
}
.VideoUploader video,
.VideoUploader .VideoPlaceholder {
  height: 200px;
  border-radius: 10px;
  margin-bottom: 15px;
}
.VideoUploader .VideoPlaceholder {
  background: rgba(229, 239, 247, 0.2);
  width: calc(100% - 15px);
  cursor: pointer;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 900;
  text-transform: uppercase;
  line-height: 0.9em;
  border: 2px dashed rgba(161, 213, 255, 0.4);
}
.VideoUploader .VideoPlaceholder:hover {
  background: rgba(229, 239, 247, 0.35);
}

.AddTags {
  flex: 1;
  box-sizing: border-box;
  padding-left: 50px;
}
.AddTags .tagList {
  position: relative;
  padding: 7px 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  transition: 0.2s ease;
  opacity: 0;
}
.AddTags .tagList.loaded {
  opacity: 1;
}
.AddTags .tagList.focus {
  border: 1px solid #5294ff;
}
.AddTags .tagList.focus .recent {
  z-index: 1;
  opacity: 1;
  transform: translateY(10px);
}
.AddTags .recent {
  transform: translateY(0);
  position: absolute;
  left: 0;
  width: 100%;
  box-sizing: border-box;
  padding: 15px;
  z-index: -1;
  opacity: 0;
  transition: 0.7s ease;
  background: #fff;
  box-shadow: 0 20px 40px 0px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
}
.AddTags .recent label {
  margin: 5px 0 15px;
}

.Tag {
  background: #eee;
  display: inline-block;
  margin: 3px;
  cursor: pointer;
  font-weight: 400;
  padding: 4px 15px;
  border-radius: 5px;
  font-size: 0.9em;
}
.Tag.red {
  background: rgba(249, 123, 108, 0.1);
  color: #f5230a;
}
.Tag.red:hover {
  background: rgba(249, 123, 108, 0.3);
}
.Tag.green {
  background: rgba(86, 222, 126, 0.1);
  color: #22ac4a;
}
.Tag.green:hover {
  background: rgba(86, 222, 126, 0.3);
}
.Tag.purple {
  background: rgba(96, 115, 251, 0.1);
  color: #0623ef;
}
.Tag.purple:hover {
  background: rgba(96, 115, 251, 0.3);
}
.Tag.blue {
  background: rgba(57, 199, 242, 0.1);
  color: #0c91b9;
}
.Tag.blue:hover {
  background: rgba(57, 199, 242, 0.3);
}
.Tag.yellow {
  background: rgba(249, 218, 59, 0.1);
  color: #c8a806;
}
.Tag.yellow:hover {
  background: rgba(249, 218, 59, 0.3);
}
.Tag.pink {
  background: rgba(255, 130, 160, 0.1);
  color: #ff1c52;
}
.Tag.pink:hover {
  background: rgba(255, 130, 160, 0.3);
}

.videoNTags {
  display: flex;
  justify-content: space-between;
}

.SignIn,
.NonIntuitUser {
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.SignIn h1,
.NonIntuitUser h1 {
  margin-bottom: 40px;
}

.Publish {
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

.Dashboard {
  display: flex;
  justify-content: space-between;
  height: 100%;
}
.Dashboard > div {
  flex: 1;
}

.Msg {
  position: absolute;
  top: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
}
.Msg.error article {
  background: #f21c4b;
}
.Msg > article {
  background: #0dcb63;
  padding: 10px 30px;
  color: #fff;
  border-radius: 10px;
  display: inline-block;
}

.Title.error label {
  color: #f21c4b;
}
.Title.error input[type=text] {
  border-color: #f21c4b;
}

.Stats {
  border-left: 1px solid #e7e7e7;
  height: inherit;
  justify-content: flex-start;
  padding-top: 200px;
}
.Stats h1 {
  margin-bottom: 10px;
}
.Stats .addNew {
  margin-top: 60px;
}
.Stats .btn {
  min-width: 200px;
  position: relative;
  overflow: hidden;
}
.Stats .btn .prog {
  position: absolute;
  left: 0;
  top: -2px;
  height: 4px;
  border-radius: 5px;
  background: #77c3ff;
  display: block;
}

.Admin {
  display: flex;
  max-height: 100vh;
}
.Admin > section {
  flex: 0.8;
}
.Admin > div {
  flex: 1.2;
}
.Admin > div {
  height: calc(100vh - 98px);
  overflow-y: scroll;
}
.Admin table > article {
  padding: 20px;
}

.SearchVideo {
  padding: 20px;
  background: #fff;
  border-bottom: 1px solid #e7e7e7;
  position: sticky;
  top: 0;
  display: flex;
}
.SearchVideo > div {
  display: flex;
  align-items: center;
  padding-left: 20px;
}
.SearchVideo .btn {
  border-radius: 5px;
  margin-left: 20px;
}
.SearchVideo label {
  margin: 0 0 10px 0;
  font-size: 1em;
}
.SearchVideo input {
  padding: 20px;
  flex: 1;
  outline: none;
}
.SearchVideo input:focus {
  border-color: #1185f1;
}

.Progress {
  width: 60%;
  margin: 0 auto;
}
.Progress .progressPercent {
  position: absolute;
  top: 15px;
  left: 20px;
  background: #3edd8b;
  color: #fff;
  font-weight: 700;
  border-radius: 10px;
  padding: 10px;
}

.Progress,
.Success {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 40px;
}
.Progress .linkss,
.Success .linkss {
  margin-top: 80px;
}
.Progress .linkss .btn,
.Success .linkss .btn {
  margin-right: 20px;
}
.Progress h1,
.Success h1 {
  margin: 20px 0 10px;
}
.Progress .txt,
.Success .txt {
  text-align: center;
}
.Progress .txt p,
.Success .txt p {
  margin: 4px 0;
}
.Progress .txt button,
.Success .txt button {
  margin-top: 30px;
}
.Progress .btnCtn,
.Success .btnCtn {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}
.Progress .btnCtn button,
.Success .btnCtn button {
  margin-top: 20px;
  min-width: 200px;
}
.Progress .progressBar,
.Success .progressBar {
  height: 2px;
  background: rgba(207, 230, 240, 0.3137254902);
  width: 100%;
  border-radius: 20px;
  margin: 20px;
}
.Progress .progressBar > div,
.Success .progressBar > div {
  height: 2px;
  background: #3edd8b;
  border-radius: 10px;
  transition: 2s ease;
}

.Dog {
  width: 100%;
  height: 74px;
  position: relative;
  transform: translateY(22px);
}
.Dog img,
.Dog .long {
  position: absolute;
  transition: 2s cubic-bezier(0.78, 0.01, 0, 1.01);
}
.Dog .dogBack {
  left: -73px;
  bottom: 0;
}
.Dog .long {
  width: 2px;
  height: 40px;
  background: url("./assets/images/dog/long.svg");
  bottom: 0;
  left: 0;
}

.NoMatch {
  padding: 40px;
  text-align: center;
}

.center {
  width: 1280px;
  margin: 0 auto;
}

.HubTitle {
  background: #393a3d;
  color: #fff;
}

.TrainingList header {
  height: 460px;
  display: flex;
  align-items: center;
}
.TrainingList header h1 {
  display: flex;
  flex-direction: column;
  font-size: 7em;
  font-weight: 900;
  text-transform: uppercase;
  line-height: 0.9em;
}

.Filters {
  padding: 40px;
  position: sticky;
  top: 80px;
  background: #fff;
  z-index: 3;
}
.Filters button:not(:last-child) {
  margin-right: 10px;
}

h3 {
  font-size: 1.2em;
  font-weight: 600;
  text-transform: uppercase;
  margin: 0;
  letter-spacing: 1px;
}

.VideoList h3 {
  padding: 30px 0;
  position: sticky;
  top: 189px;
  z-index: 2;
  background: #fff;
}

.vList {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 36px;
  padding-bottom: 120px;
}

.Video {
  cursor: pointer;
  position: relative;
}
.Video .duration {
  position: absolute;
  display: inline-block;
  background: #fff;
  top: 190px;
  right: 14px;
  border-radius: 20px;
  padding: 3px 10px;
  font-weight: 400;
  z-index: 1;
}
.Video .thumbnail {
  position: relative;
  background-size: cover;
  height: 225px;
  border-radius: 15px;
  overflow: hidden;
  width: 100%;
  display: flex;
  align-items: center;
}
.Video .thumbnail video {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 101%;
  transition: 0.3s ease;
}
.Video .thumbnail video:hover {
  opacity: 1;
}
.Video .meta {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.Video .meta > div > span,
.Video .meta > div {
  align-items: center;
  display: flex;
}
.Video .meta > div > span {
  margin-left: 15px;
}
.Video .meta > div > span > span {
  font-weight: 500;
  margin-left: 2px;
}
.Video .meta > div > span.helpful img {
  transform: translateY(-2px);
  z-index: 0;
}

.CraftChoice div {
  display: flex;
  padding: 5px 0;
}
.CraftChoice div label {
  cursor: pointer;
  margin: 0;
  font-weight: 400;
  font-size: 1em;
}

.PickThumb,
.ConfirmDelete {
  background: #fff;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

.PickThumb {
  padding: 50px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.PickThumb h3 {
  font-weight: 300;
  font-size: 1.3em;
  margin: 40px 0 20px;
}
.PickThumb .btnCtn {
  text-align: right;
}
.PickThumb > div div {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
}
.PickThumb .thumb {
  width: 180px;
  height: 100px;
  background-size: cover;
  cursor: pointer;
  border-radius: 12px;
  opacity: 0.5;
}
.PickThumb .thumb.selected {
  opacity: 1;
}
.PickThumb .thumb:hover {
  opacity: 1;
}

.idx0 {
  background-image: url("./assets/images/clouds/0.png");
}

.idx1 {
  background-image: url("./assets/images/clouds/1.png");
}

.idx2 {
  background-image: url("./assets/images/clouds/2.png");
}

.idx3 {
  background-image: url("./assets/images/clouds/3.png");
}

.idx4 {
  background-image: url("./assets/images/clouds/4.png");
}

.idx5 {
  background-image: url("./assets/images/clouds/5.png");
}

.idx6 {
  background-image: url("./assets/images/clouds/6.png");
}

.idx7 {
  background-image: url("./assets/images/clouds/7.png");
}

.idx8 {
  background-image: url("./assets/images/clouds/8.png");
}

.idx9 {
  background-image: url("./assets/images/clouds/9.png");
}

.idx10 {
  background-image: url("./assets/images/clouds/10.png");
}

.Footer {
  background: #eceef1;
  padding: 80px;
}
.Footer ul {
  padding-left: 30px;
}
.Footer h4 img {
  display: none;
}
.Footer h5 {
  display: flex;
  flex-direction: column;
}
.Footer a {
  text-decoration: underline;
  color: #333;
  display: inline-block;
  padding: 4px 0;
  cursor: pointer;
}
.Footer a:hover {
  color: #3492ef;
}

.footerInner {
  display: flex;
  justify-content: space-between;
}

.loadAdmin {
  display: flex;
  flex-direction: column;
  padding: 180px 20px 0;
}
.loadAdmin img {
  width: 287px;
  margin-bottom: 20px;
}

.ConfirmDelete {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 100px;
}
.ConfirmDelete h3 {
  font-size: 3em;
  margin: 10px 0;
}
.ConfirmDelete p {
  margin-bottom: 80px;
  width: 60%;
  text-align: center;
}
.ConfirmDelete button {
  position: relative;
  overflow: hidden;
  width: 120px;
}
.ConfirmDelete button.noBorder {
  border: none;
}
.ConfirmDelete button.wait:after {
  transition: 1.7s cubic-bezier(0.8, 0.03, 0.25, 1);
  width: 100%;
}
.ConfirmDelete button:after {
  content: "Almost...";
  display: flex;
  height: 100%;
  background: #65c889;
  position: absolute;
  width: 0%;
  top: 0;
  left: 0;
  align-items: center;
  overflow: hidden;
  justify-content: center;
  transition: 0s ease;
}

.Detail {
  padding: 50px 0 0 50px;
  display: flex;
  justify-content: space-between;
}

.RelatedVideos {
  width: 290px;
  height: 100vh;
  overflow-y: scroll;
  padding-right: 50px;
}
.RelatedVideos h3 {
  margin-bottom: 50px;
}
.RelatedVideos .duration {
  top: 125px;
}
.RelatedVideos .Video {
  margin-bottom: 50px;
}
.RelatedVideos .Video .thumbnail {
  height: 160px;
}

.DetailContent {
  flex: 1;
  box-sizing: border-box;
  padding-right: 50px;
}
.DetailContent .btnCtn {
  display: flex;
}
.DetailContent .btnCtn button {
  margin-left: 10px;
}
.DetailContent .btnCtn .dislike {
  transform: translateY(2px) rotate(180deg);
}
.DetailContent .btn {
  background: #ECEEF1;
  border: none;
  color: #333;
  padding: 15px 20px;
  display: flex;
  align-items: center;
}
.DetailContent .btn img {
  margin-right: 3px;
}
.DetailContent .btn img:hover {
  opacity: 0.5;
}
.DetailContent .btn:hover {
  background: #e1e3e6;
}
.DetailContent .btn > span {
  margin-right: 15px;
}
.DetailContent .btn.copy {
  min-width: 150px;
  display: flex;
  justify-content: center;
}
.DetailContent .btn.copy.copied {
  background: #333;
  color: #fff;
}
.DetailContent .btn.copy.copied span {
  margin: 0;
}
.DetailContent .btn.copy span {
  margin-left: 15px;
}
.DetailContent .meta {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
}
.DetailContent .meta h1 {
  font-size: 1.8em;
}
.DetailContent .meta .views {
  display: flex;
  align-items: center;
  padding: 10px 0;
}
.DetailContent .meta .views img {
  margin: 0;
}
.DetailContent .meta .views span {
  margin-left: 5px;
  font-size: 1.1em;
}
.DetailContent video {
  width: 100%;
  border-radius: 15px;
}

.TagLinks {
  padding: 20px 0;
}
.TagLinks button {
  margin-right: 10px;
}

@media screen and (max-width: 1430px) {
  .center {
    width: inherit;
  }
  .Footer h4 {
    cursor: pointer;
    margin: 0;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
  }
  .Footer h4 img {
    display: block;
    width: 17px;
  }
  .Footer ul {
    padding-left: 13px;
  }
  .footerInner {
    display: flex;
    flex-direction: column;
    padding-bottom: 50px;
  }
  .FooterItm ul {
    display: none;
  }
  .FooterItm a {
    display: block;
    padding: 20px 0;
  }
  .FooterItm.active ul {
    display: block;
  }
}/*# sourceMappingURL=App.css.map */