@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700;900&display=swap");
html > canvas {
  display: none;
}

body {
  margin: 0;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 14px;
  color: #333;
}

button {
  cursor: pointer;
}

label:not(.btn) {
  display: block;
  font-weight: 300;
  font-size: 1.3em;
  margin: 20px 0 10px;
}

input[type=text] {
  padding: 7px 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  min-width: 200px;
}
input.search {
  outline: none;
  border: none;
  transition: 0.7s width;
  display: block;
  min-width: 200px;
  padding: 10px 0;
}

.btn {
  background: #eee;
  border: 1px solid #ddd;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  display: inline-block;
}

.TopBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: #fff;
  z-index: 2;
  padding: 20px 50px;
}
.TopBar .logo {
  padding: 20px 0;
}

.TopBar .User,
.TopBar article {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.User {
  margin-right: 10px;
}
.User img {
  border-radius: 50px;
  margin-left: 10px;
  cursor: pointer;
}

.Routes {
  padding-top: 100px;
}

.Loading, .AddEdit {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
}

.Loading {
  align-items: center;
}

.AddEdit {
  background: rgba(0, 0, 0, 0.7);
  padding-top: 5vh;
}
.AddEdit section {
  width: 1000px;
  padding: 50px;
  background: #fff;
  box-sizing: border-box;
  border-radius: 15px;
  height: 90vh;
  position: relative;
}
.AddEdit section .close {
  position: absolute;
  top: 20px;
  right: 20px;
  background: none;
  border: none;
}

.Wisiwyg {
  margin-top: 20px;
}
.Wisiwyg .Tools {
  border-bottom: none;
  margin-bottom: 0;
  border-radius: 10px 10px 0 0;
  padding: 25px 25px 0 25px;
}
.Wisiwyg .Editor {
  border: 1px solid #eee;
  border-top: none;
  padding: 25px;
  border-radius: 0 0 10px 10px;
}

.EditVideo {
  padding: 20px;
  cursor: pointer;
}

.VideoUploader {
  margin: 30px 0;
}
.VideoUploader input[type=file] {
  visibility: hidden;
  position: absolute;
}
.VideoUploader video, .VideoUploader .VideoPlaceholder {
  height: 300px;
  border-radius: 10px;
  margin-top: 20px;
}
.VideoUploader .VideoPlaceholder {
  background: rgba(229, 239, 247, 0.2);
  width: 300px;
  cursor: pointer;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 900;
  text-transform: uppercase;
  line-height: 0.9em;
  border: 2px dashed rgba(161, 213, 255, 0.4);
}
.VideoUploader .VideoPlaceholder:hover {
  background: rgba(229, 239, 247, 0.35);
}

.AddTags {
  width: 400px;
}
.AddTags .tagList {
  position: relative;
  padding: 7px 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  transition: 0.7s ease;
  opacity: 0;
}
.AddTags .tagList.loaded {
  opacity: 1;
}
.AddTags .tagList.focus {
  border: 1px solid #5294ff;
}
.AddTags .tagList.focus .recent {
  z-index: 1;
  opacity: 1;
  transform: translateY(10px);
}
.AddTags .recent {
  transform: translateY(0);
  position: absolute;
  left: 0;
  width: 100%;
  box-sizing: border-box;
  padding: 15px;
  z-index: -1;
  opacity: 0;
  transition: 0.7s ease;
  background: #fff;
  box-shadow: 0 20px 40px 0px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
}
.AddTags .recent label {
  margin: 5px 0 15px;
}
.AddTags article {
  background: #eee;
  display: inline-block;
  margin: 3px;
  cursor: pointer;
  font-weight: 400;
  padding: 4px 15px;
  border-radius: 5px;
  font-size: 0.9em;
}
.AddTags article.red {
  background: rgba(249, 123, 108, 0.1);
  color: #f5230a;
}
.AddTags article.red:hover {
  background: rgba(249, 123, 108, 0.3);
}
.AddTags article.green {
  background: rgba(86, 222, 126, 0.1);
  color: #22ac4a;
}
.AddTags article.green:hover {
  background: rgba(86, 222, 126, 0.3);
}
.AddTags article.purple {
  background: rgba(96, 115, 251, 0.1);
  color: #0623ef;
}
.AddTags article.purple:hover {
  background: rgba(96, 115, 251, 0.3);
}
.AddTags article.blue {
  background: rgba(57, 199, 242, 0.1);
  color: #0c91b9;
}
.AddTags article.blue:hover {
  background: rgba(57, 199, 242, 0.3);
}
.AddTags article.yellow {
  background: rgba(249, 218, 59, 0.1);
  color: #c8a806;
}
.AddTags article.yellow:hover {
  background: rgba(249, 218, 59, 0.3);
}
.AddTags article.pink {
  background: rgba(255, 130, 160, 0.1);
  color: #ff1c52;
}
.AddTags article.pink:hover {
  background: rgba(255, 130, 160, 0.3);
}

.videoNTags {
  display: flex;
  justify-content: space-between;
}/*# sourceMappingURL=App.css.map */